<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/edit/{id}(id=${user.getId})}" th:object="${user}">

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{username}" id="name" >
    <br>
    <label for="last_name">Enter lastName</label>
    <input type="text" th:field="*{last_name}" id="last_name" >
    <br>
    <label for="password">password</label>
    <input type="password" id="password" th:field="*{password}" >
    <br/>
    <select class="form-control" id="roles" name="roles" multiple="multiple">
        <option th:each="role : ${listRoles}"
                th:selected="${role.role}"
                th:value="${role.id}"
                th:text="${role.role}">Role name
        </option>
    </select>
    <br/>
    <input type="submit"  value="Update"/>
</form>

</body>
</html>