<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">

    <label for="username">username</label>
    <input type="text" id="username" th:field="*{username}" required>
    <br/>
    <label for="lastname">lastname</label>
    <input type="text" id="lastname" th:field="*{last_name}" required>
    <br/>
    <label for="password">password</label>
    <input type="password" id="password" th:field="*{password}" required>
    <br/>
    <select class="form-control" id="roles" name="roles" multiple="multiple">
        <option th:each="role : ${listRoles}"
                th:selected="${role.role}"
                th:value="${role.id}"
                th:text="${role.role}">Role name
        </option>
    </select>

    <input type="submit" value="Create">

</form>
</body>
</html>